*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}

body{
    font-family: "Poppins", sans-serif;
    background-color:#EEF4ED;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    flex-wrap: wrap;
}

.logo h1{
    margin: 0;
    color: #5296A5;
    font-size: 24px;
}

.logo h1 a{
    color: #0B2545;
    text-decoration: none;
}

nav{
    display:flex;
    flex-wrap: wrap;
}

.navLinks{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navLinks li{
    margin: 0 10px;
}

.navLinks li a{
    text-decoration: none;
    color: #5296A5;
    font-weight: 500;
}

.navLinks li a:hover{
    color: #0B2545;
}

/* Estilos del formulario */
.feedback{
    height: 100vh;
    background-color: transparent;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feedback h2{
    text-align: center;
    margin-bottom: 20px;
    color: #0B2545;
}

#feedbackForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.grupo {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    width: 400px;
}

input[type="text"],
textarea,
button {
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #5296A5;
    border-radius: 5px;
}

button {
    background-color:#0B2545;
    color:white;
    cursor: pointer;
}

button:hover {
    background-color:#5296A5;
}

/*Footer*/
footer{
    background-color: #0B2545;
    color: white;
    padding: 50px 0;
    margin-top: 10px;
}

.contenidoFooter{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.contenidoFooter h3{
    margin-bottom: 20px;
    color: #5296A5;
    text-align: center;
}

.contacto p{
    margin-bottom: 10px;
    text-align: center;

}

.iconosRedes{
    display: flex;
    justify-content: center;
}

.iconosRedes a {
    color: white;
    font-size: 24px;
    margin:0 10px;
    text-decoration: none;
}

.iconosRedes a:hover {
    color: white;
}

.derechos p {
    margin-bottom: 10px;
    text-align: center;
}

.derechos a {
    color: white;
    text-decoration: none;
}

.derechos a:hover {
    text-decoration: underline;
}


/*responsive*/
@media screen and (max-width: 768px){
    header {
        justify-content: center;
        text-align: center;
    }

    .logo h1 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    nav{
        width: 100%;
    }

    .navLinks {
       justify-content: center;
    }

    .navLinks li {
        margin: 0 5px;
    }

    .feedback{
        width: 100%;
    }

    #feedbackForm{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 30px;
    }


    button {
        width: 200px;
        padding: 5px;
        font-size: 8px;
        border: 1px solid #5296A5;
        border-radius: 5px;
        align-items: center;
    }

    input[type="text"],
    textarea {
        width: 200px;
        padding: 5px;
        font-size: 8px;
        border: 1px solid #5296A5;
        border-radius: 5px;
        align-items: center;
    }


    footer{
        padding: 20px 0;
    }

}
