@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: black;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: transparent;
}

.logo h1{
    margin: 0;
    color: darkgreen;
}

.logo h1 a{
    color: saddlebrown;
    text-decoration: none;
}

nav{
    display:flex;
}

.navLinks{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navLinks li{
    margin: 0 10px;
}

.navLinks li a{
    text-decoration: none;
    color: darkgreen;
    font-weight: 500;
}

.navLinks li a:hover{
    color: saddlebrown;
}

/*Contenedor1*/
.contenedor1{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.textoContenedor1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    color: #cccccc;
    width: 300px;
    margin-right: 20px;
}
.textoContenedor1 h2{
    color: saddlebrown;
}

.imagenContenedor1{
    width: 60%;
    height: auto;

}

/*Contenedor2*/
.contenedor2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    height: 100vh;
    align-content: center;
}

.contenedor2 h2{
    color:saddlebrown;
    padding: 20px;
    text-align: center;
}

.tarjetas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.63);
}

.imagen img {
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.descripcion {
    padding: 15px;
    text-align: center;
    color: #cccccc;
}

.descripcion h3 {
    margin-bottom: 10px;
    margin-top: 0;
}

.descripcion p {
    margin-bottom: 0;
}

/*Contenedor3*/
.contenedor3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    gap: 20px;
    height: 100vh;
}

.tarjetaFeedback {
    width: calc(33.33% - 50px);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 150px;
}

.contenidoFeedback {
    padding: 15px;
}

.contenidoFeedback p {
    margin-bottom: 10px;
}

.contenidoFeedback span {
    color: grey;
}

.btnFeedback {
    padding: 10px 20px;
    background-color: darkgreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
}

.btnFeedback:hover {
    background-color: forestgreen;
}

/*Footer*/
footer{
    background-color: dimgray;
    color: white;
    padding: 50px 0;
    margin-top: 50px;
}

.contenidoFooter{
    display:flex;
    justify-content: center;
    gap: 100px;
    align-items: flex-start;
}

.contenidoFooter h3{
    margin-bottom: 20px;
    color: black;
}

.contacto p{
    margin-bottom: 10px;

}

.iconosRedes a {
    color: white;
    font-size: 24px;
    margin-right: 10px;
    text-decoration: none;
}

.iconosRedes a:hover {
    color: white;
}

.derechos p {
    margin-bottom: 10px;
}

.derechos a {
    color: white;
    text-decoration: none;
}

.derechos a:hover {
    text-decoration: underline;
}


