*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}

body{
    font-family: "Poppins", sans-serif;
    background-color:#EEF4ED;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    flex-wrap: wrap;
}

.logo h1{
    margin: 0;
    color: #5296A5;
    font-size: 24px;
}

.logo h1 a{
    color: #0B2545;
    text-decoration: none;
}

nav{
    display:flex;
    flex-wrap: wrap;
}

.navLinks{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navLinks li{
    margin: 0 10px;
}

.navLinks li a{
    text-decoration: none;
    color: #5296A5;
    font-weight: 500;
}

.navLinks li a:hover{
    color: #0B2545;
}

#modoOscuro{
    background-color: #5296A5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/*Contenedor1*/
.contenedor1{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 0;
    transition: opacity 2s ease;
}

.contenedor1.visible{
    opacity: 1;
}

.textoContenedor1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    color: black;
    width: 300px;
    margin-right: 20px;
}
.textoContenedor1 h2{
    color: #0B2545;
}

.imagenContenedor1{
    width: 60%;
    height: auto;

}

/*Contenedor2*/
.contenedor2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    min-height: 100vh;

}

.contenedor2 h2{
    color:#0B2545;
    padding: 20px;
    text-align: center;
}

.tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.tarjeta {
    flex: 1;
    max-width: 300px;
    border: 1px solid #0B2545;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.63);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
}

.tarjeta:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.imagen img {
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.descripcion {
    padding: 15px;
    text-align: center;
    color: black;
}

.descripcion h3 {
    color: #5296A5;
    margin-bottom: 10px;
    margin-top: 0;
}

.descripcion p {
    margin-bottom: 0;
}

/*Contenedor3*/
.contenedor3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin-top: 80px;
    gap: 20px;
    min-height: 100vh;
}

.tarjetaFeedback {
    flex: 1;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border: 1px solid #0B2545;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

.tarjetaFeedback:not(:nth-child(2)) {
    opacity: 0.7;
    transform: scale(0.9);
}

.tarjetaFeedback.selected {
    opacity: 1;
    transform: scale(1);
}

.contenidoFeedback {
    padding: 15px;
}

.contenidoFeedback p {
    margin-bottom: 10px;
}

.contenidoFeedback span {
    color: grey;
}

.btnFeedback {
    padding: 10px 20px;
    background-color: #0B2545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    position: relative;
    width: 60%;
}

.btnFeedback:hover {
    background-color: #5296A5;
}

/*Footer*/
footer{
    background-color: #0B2545;
    color: white;
    padding: 50px 0;
    margin-top: 10px;
}

.contenidoFooter{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.contenidoFooter h3{
    margin-bottom: 20px;
    color: #5296A5;
    text-align: center;
}

.contacto p{
    margin-bottom: 10px;
    text-align: center;

}

.iconosRedes{
    display: flex;
    justify-content: center;
}

.iconosRedes a {
    color: white;
    font-size: 24px;
    margin:0 10px;
    text-decoration: none;
}

.iconosRedes a:hover {
    color: white;
}

.derechos p {
    margin-bottom: 10px;
    text-align: center;
}

.derechos a {
    color: white;
    text-decoration: none;
}

.derechos a:hover {
    text-decoration: underline;
}

/*Modo oscuro*/
.modoOscuro{
    background-color: #0B2545;
    color: white;
}

.modoOscuro .logo h1 a{
    color: #EEF4ED;
}

.modoOscuro .navLinks li a:hover{
    color: #EEF4ED;
}


.modoOscuro .textoContenedor1 h2{
    color: #EEF4ED;
}

.modoOscuro .descripcion {
    color: white;
}

.modoOscuro .contenidoFeedback p {
   color: black;
}

.btnFeedback {
    background-color:#5296A5;
    color: white;
}

.modoOscuro .textoContenedor1{
    color: white;
}

.modoOscuro footer{
    background-color: #5296A5;
}

.modoOscuro .contenidoFooter h3{
    color:#0B2545;
}




/*responsive*/
@media screen and (max-width: 768px) {
    header {
       justify-content: center;
        text-align: center;
    }

    .logo h1 {
       font-size: 20px;
        margin-bottom: 10px;
    }

    nav{
        width: 100%;
    }

    .navLinks {
       justify-content: center;
    }

    .navLinks li {
       margin: 0 5px;
    }

    .contenedor1 {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        height: auto;
        padding: 20px;
    }

    .imagenContenedor1{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .imagenContenedor1 img{
        width: auto;
        height:auto;
        max-width: 100%;
        max-height: 100%;
    }


    .textoContenedor1,
    .tarjeta,
    .tarjetaFeedback {
        width: 100%;
        max-width: none;
        margin: 0 auto 20px auto;
    }

    .contenedor3{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%
    }

    footer{
        padding: 20px 0;
    }
}





